@use '@/styles/mixins/mixins/breakpoints.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;

  @include breakpoints.from-tablet {
    min-height: 350px;
  }

  .content {
    display: grid;
    grid-template-rows: 10% 10% 65% 5%;
    height: 96vh; // Хедер 6
    gap: 1rem;
    margin-top: 1rem;

    .submitWrapper {
      display: flex;
      justify-content: end;
      height: 100%;

      .submit {
        box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
        border-radius: .4rem;
        color: white;
        padding: 0rem 2rem;
      }
    }
  }
}