.bg {
  background-color: var(--main-gray);

  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;

  .content {
    margin-top: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}